* {
    margin: 0px;
    padding: 0px;

}

body {
    background-color: #f3f3f3;
}

.main-banner {
    margin: 0 auto;
    width: 1200px;
    height: 400px ; 
    background-color: #fff;
    overflow: hidden;
    position: relative;
}

.main-banner .imgbanner {
    width: 100%;
    height: 100%;
    top: 0px;  
    transition: all ease-in-out 500ms;
    -webkit-transition:all ease-in-out 500ms ;
    -moz-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
}

.main-banner #imgban3 {
    position: absolute; top:0;
    background-image: url(photos/nature-2813487_1280.jpg);
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat; 
}

.main-banner #imgban2 {
    position: absolute; top:0;
    background-image: url(photos/autumn-mood-972441_1280.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-banner #imgban1 {
    position: absolute; top:0;
    background-image: url(photos/vacations-1354563_1280.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}